span.card_title > h1, span.card_title * h1 {
	font-size:4em;
}

div.card_content > h1, div.card_content * h1 {
	font-size:3em;
}

div.card_title_holder {
	    border-bottom: .22em grey solid;
		padding-bottom: .5em;
}

a.externalLink{
    text-decoration: underline;
}

span.card_title{
    display: block;
}

span.cardTitleEditor{
    display:inline;
}